<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @branch.address %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @branch.opening_time %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= @branch.closing_time %>
</p>

<p>
  <strong>Branch image:</strong>
  <%= image_tag(@branch.branch_image, :alt=> "Image not displaying!", :size => "140x100") %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
