<h1>Listing borroweds</h1>

<table>
  <thead>
    <tr>
      <th>Return date</th>
      <th>Date due</th>
      <th>Member</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borroweds.each do |borrowed| %>
      <tr>
        <td><%= borrowed.return_date %></td>
        <td><%= borrowed.date_due %></td>
        <td><%= borrowed.Member_id %></td>
        <td><%= borrowed.Book_id %></td>
        <td><%= link_to 'Show', borrowed %></td>
        <td><%= link_to 'Edit', edit_borrowed_path(borrowed) %></td>
        <td><%= link_to 'Destroy', borrowed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrowed', new_borrowed_path %>
