<!DOCTYPE html>
<html>
<head>
  <title>LibraryApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<div class="jumbotron text">
		<%=image_tag("library.jpg",:size => "140x100")%>
		<h1>Library</h1>


<div class id="nav">
	<%=link_to "Home", root_path %>
	<%=link_to "Books", books_path %>
	<%=link_to "Branches", branches_path %>
	<%=link_to "Members", members_path %>
	<div>
	<% if !signed_in? %>
			<%= link_to "Sign In", login_path %>
	<% else %>
			Signed in as <%= @current_member.name %>
			<%= link_to "Sign out", logout_path %>
	<% end %>
	</div>

</div>
</div>







<%= yield %>

</body>
</html>
